# SPDX-License-Identifier: GPL-2.0-only
#
# Integrity Policy Enforcement (IPE) configuration
#

config IPE_BOOT_PROP
	bool "Enable trust for boot volume"
	help
	  This option enables the property "boot_verified" in IPE policy.
	  This property 'pins' the initial superblock when something is
	  evaluated as an execution. This property will evaluate to true
	  when the file being evaluated originates from the initial
	  superblock.

	  if unsure, answer N.

config IPE_DM_VERITY_ROOTHASH
	bool "Enable property for authorizing dm-verity volumes via root-hash"
	depends on DM_VERITY
	help
	  This option enables IPE's integration with Device-Mapper Verity.
	  This enables the usage of the property "dmverity_roothash" in IPE's
	  policy. This property allows authorization or revocation via a
	  a hex-string representing the roothash of a dmverity volume.

	  if unsure, answer Y.

config IPE_DM_VERITY_SIGNATURE
	bool "Enable property for verified dm-verity volumes"
	depends on DM_VERITY_VERIFY_ROOTHASH_SIG
	help
	  This option enables IPE's integration with Device-Mapper Verity's
	  signed root-hashes. This enables the usage of the property,
	  "dmverity_signature" in IPE's policy.

	  if unsure, answer Y.

config IPE_INTENDED_PATHNAME
	bool "Enable property for comparison to the application provided path"
	help
	  This option enables IPE's "intended_pathname" property. This is the
	  original userland, application-provided pathname passed to any open
	  system call. This can be used by the userland application to signal
	  its purpose to enforce integrity requirements on paths, such as
	  verifying all config files in /etc.

	  WARNING: intended_pathname is not a security property and should
	  only be used for an application to signal it's intent

	  if unsure, answer Y.
