# SPDX-License-Identifier: GPL-2.0-only
#
# Integrity Policy Enforcement (IPE) configuration
#

config IPE_BOOT_PROP
	bool "Enable trust for boot volume"
	help
	  This option enables the property "boot_verified" in IPE policy.
	  This property 'pins' the initial superblock when something is
	  evaluated as an execution. This property will evaluate to true
	  when the file being evaluated originates from the initial
	  superblock.

	  if unsure, answer N.
